<!--
Copyright 2026 Intrinsic Innovation LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<sdf version='1.9' xmlns:xacro='http://www.ros.org/wiki/xacro'>
<xacro:include filename="$(cwd)/third_party/fanuc/r_2000ic_210l/r_2000ic_210l_base.xacro"/>
<xacro:include filename="$(cwd)/intrinsic_control/intrinsic/models/robot_definitions/fanuc/simulation_plugins.xacro"/>

<!-- Expands to an Fanuc r_2000ic_210l robot that can be customized with various
  options like starting pose.

  Parameters:
  name: Name of the generated <model>.
  model_options: Additional options for the generated <model>. Example usage:
    <xacro:r_2000ic_210l_sdf ...>
      <model_options>
        <pose>1 2 3 0 0 0</pose>
      </model_options>
    </xacro:r_2000ic_210l_sdf>
-->
<xacro:macro name='r_2000ic_210l_sdf' params='name
                                     **model_options '>
  <xacro:r_2000ic_210l_base_sdf name="${name}">
    <model_options>
      <xacro:simulation_plugins/>
      <!-- Append passed in model options. -->
      <xacro:insert_block name="model_options"/>
    </model_options>
  </xacro:r_2000ic_210l_base_sdf>
</xacro:macro>
</sdf>
