{{/*
Copyright 2026 Intrinsic Innovation LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/ -}}

package main

import (
	"context"
	"encoding/base64"
	"fmt"
	"log"
	"math"
	"net/http"

	"github.com/grpc-ecosystem/grpc-gateway/v2/runtime"
	"google.golang.org/grpc/credentials/insecure"
	"google.golang.org/grpc"

	// Internal Intrinsic dependencies
	"intrinsic/httpjson/any"
	"intrinsic/httpjson/serialization"
	oah "intrinsic/httpjson/openapi/handlers"
	rcpb "intrinsic/resources/proto/runtime_context_go_proto"
	"intrinsic/util/proto/protoio"

	// Template-injected dependencies
	{{- range .Services }}
	{{ .ImportAlias }} "{{ .ImportPath }}"
	{{- end }}
)

const (
	runtimeContextPath = "/etc/intrinsic/runtime_config.pb"
	ingressAddress     = "istio-ingressgateway.app-ingress.svc.cluster.local:80"
)

var openAPIContentBase64 = "{{ .OpenAPIB64 }}"

func main() {
	rc := new(rcpb.RuntimeContext)
	if err := protoio.ReadBinaryProto(runtimeContextPath, rc); err != nil {
		log.Fatalf("Failed to read runtime context: %v", err)
	}

	// Enable resolving Any messages
	resolver, err := any.NewAnyResolver(ingressAddress, ingressAddress)
	if err != nil {
		log.Fatalf("Failed to create AnyResolver: %v", err)
	}
	ctx, cancel := context.WithCancel(context.Background())
	defer cancel()

	mux := runtime.NewServeMux(serialization.NewGatewayMarshalerOptions(resolver)...)

	// Setup /openapi.yaml handler
	decodedOpenAPI, err := base64.StdEncoding.DecodeString(openAPIContentBase64)
	if err != nil {
		log.Fatalf("Failed to decode OpenAPI content: %v", err)
	}
	mux.HandlePath("GET", "/openapi.yaml", oah.MakeOpenAPIHandlerFromContent(string(decodedOpenAPI)))

	grpcAddr := fmt.Sprintf("0.0.0.0:%d", rc.GetPort())
	opts := []grpc.DialOption{
		grpc.WithTransportCredentials(insecure.NewCredentials()),
		grpc.WithDefaultCallOptions(grpc.MaxCallRecvMsgSize(math.MaxInt)),
	}

	log.Printf("Connecting to gRPC Service: %v", grpcAddr)

	// Register generated HTTP -> gRPC handlers.
	{{- range .Services }}
	err = {{ .ImportAlias }}.Register{{ .ServiceName }}HandlerFromEndpoint(ctx, mux, grpcAddr, opts)
	if err != nil {
		log.Fatalf("Failed to register gRPC service HTTP/JSON handlers: %v", err)
	}
	{{- end }}

	addr := fmt.Sprintf(":%d", rc.GetHttpPort())
	log.Printf("Listening on %s", addr)

	// Start server with Cross-Origin Protection
	server := http.NewCrossOriginProtection().Handler(mux)
	if err := http.ListenAndServe(addr, server); err != nil {
		log.Fatalf("HTTP server failed: %v", err)
	}
}
